.menu{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(232, 232, 255);
    color: #1E1B4B;
}

.nome-empresa{
    margin: 0;
}

.itens-menu{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.menu button{
    background-color: #1E1B4B;
    border: solid 5px #1E1B4B;
    border-radius: 5px;
}

